{"openapi":"3.1.0","info":{"title":"Dokumentasi API Ninja OTP","version":"1.0.0","summary":"Sewa nomor & terima OTP otomatis lewat REST.","description":"Tingkatkan efisiensi sistem Anda dengan mengintegrasikan layanan OTP otomatis ke dalam bot Telegram, script, atau aplikasi web secara praktis dan hemat biaya. Lewat skema Pay-per-Success, saldo Anda sepenuhnya aman karena hanya terpotong saat kode OTP terbukti berhasil diterima, ditambah jaminan Re-OTP Gratis tanpa biaya tambahan jika Anda membutuhkan kode verifikasi ulang.\n\n## Autentikasi\nSetiap permintaan API wajib menyertakan header `Authorization` menggunakan Bearer Token (API Key) Anda. Dapatkan key unik Anda di [API Keys](/profil).\n\n```\nAuthorization: Bearer nk_xxxxxxxxxxxxxxxxxxxxxxxx\n```\n\n## Rate Limit\nPermintaan API dibatasi per menit. Kalau terlampaui, API membalas `429` (`RATE_LIMITED`). Beri jeda beberapa detik lalu coba lagi. Batas dihitung fixed-window per menit (per key & gabungan lintas key).\n\n| Batasan | Nilai |\n| --- | --- |\n| Rate default per key (key baru) | **60** req/menit |\n| Rate maksimum per key | **600** req/menit |\n| Rate total per akun (gabungan semua key) | **1200** req/menit |\n| Maksimum API key aktif per akun | **20** key |\n\nSetiap response menyertakan header kuota: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, dan `X-RateLimit-Reset` (epoch detik saat window direset). Saat kena `429`, header `Retry-After` (detik) memberi tahu kapan boleh mencoba lagi -> pakai untuk backoff, jangan hammer.\n\n## Idempotency (opsional)\nCegah order ganda saat retry (mis. timeout jaringan / re-POST) dengan menyertakan header `Idempotency-Key` bernilai **unik per permintaan** (mis. UUID v4) pada **`POST /orders`**. Retry dengan key yang sama mengembalikan **order yang sama** tanpa memotong saldo lagi (aman untuk retry otomatis).\n\n```\nIdempotency-Key: 3f9a1c7e-2b4d-4a6f-9c11-8e5d0b2a7f10\n```\n\n- Untuk `qty > 1`, satu key mereplay **seluruh** order yang dibuat (bukan satu order berulang).\n- Pakai key **baru** untuk setiap permintaan order yang berbeda; memakai ulang key untuk payload berbeda mengembalikan hasil permintaan pertama.\n\n## Format Error\nSemua error seragam. Objek `error` berisi `code` (stabil, untuk dicek program) dan `message` (aman ditampilkan ke pengguna):\n\n```\n{ \"error\": { \"code\": \"FORBIDDEN\", \"message\": \"API key tidak memiliki izin 'order'.\" } }\n```\n\n| Code | Pesan | Keterangan |\n| --- | --- | --- |\n| `UNAUTHENTICATED` (401) | `API key tidak valid / dicabut.` | Header `Authorization` hilang/kosong, atau key salah/sudah dicabut. |\n| `FORBIDDEN` (403) | `API key tidak memiliki izin 'order'.` | Key tak punya scope untuk endpoint tersebut. |\n| `INSUFFICIENT_BALANCE` (402) | `Saldo tidak cukup.` | Saldo kurang untuk menyewa nomor. |\n| `OUT_OF_STOCK` (409) | `Stok nomor habis.` | Tidak ada nomor tersedia untuk layanan itu. |\n| `NOT_FOUND` (404) | `Tidak ditemukan.` | Order/layanan tak ada, atau bukan milik kamu. |\n| `CONFLICT` (409) | `Order tidak pending.` | Aksi tak cocok dengan keadaan order (mis. sudah selesai / nomor sedang dipakai). |\n| `VALIDATION` (422) | `Permintaan tidak valid.` | Parameter salah, mis. `service_id` bukan angka atau `qty` di luar 1-10. |\n| `RATE_LIMITED` (429) | `Terlalu banyak permintaan, coba lagi nanti.` | Melewati batas laju (lihat **Rate Limit**). |\n| `API_DISABLED` (503) | `API sedang dinonaktifkan sementara.` | API publik dimatikan admin (kill-switch). |"},"servers":[{"url":"https://app.ninjatop.cloud/api/public/v1","description":"Base"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Daftar layanan","description":"Layanan tersedia, harga, dan stok"},{"name":"Akun","description":"Cek Saldo"},{"name":"Pesanan","description":"Sewa nomor & siklus order"}],"paths":{"/services":{"get":{"tags":["Daftar layanan"],"summary":"Daftar Layanan","description":"Mendapatkan daftar semua layanan yang tersedia, harga sewa, dan jumlah stok nomor aktif saat ini.","parameters":[{"$ref":"#/components/parameters/Page"},{"$ref":"#/components/parameters/Size"},{"$ref":"#/components/parameters/Q"}],"responses":{"200":{"description":"Daftar layanan.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Service"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"401":{"$ref":"#/components/responses/Error"}}}},"/balance":{"get":{"tags":["Akun"],"summary":"Cek Saldo","description":"Cek saldo akun pemilik token. `balance` = saldo utama (rupiah) yang dipakai buat sewa nomor; komisi afiliasi juga masuk ke sini.","responses":{"200":{"description":"Saldo akun.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Balance"}}}},"401":{"$ref":"#/components/responses/Error"}}}},"/orders":{"get":{"tags":["Pesanan"],"summary":"Riwayat Order","description":"Lihat riwayat transaksi.","parameters":[{"$ref":"#/components/parameters/Page"},{"$ref":"#/components/parameters/Size"},{"name":"status","in":"query","required":false,"description":"Saring status.","schema":{"type":"string","enum":["pending","completed","expired","cancelled","refunded"]}}],"responses":{"200":{"description":"Daftar order.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Order"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"401":{"$ref":"#/components/responses/Error"}}},"post":{"tags":["Pesanan"],"summary":"Sewa Nomor","description":"Sewa `qty` nomor (1-10) untuk **satu** layanan. Charge per nomor; saldo hanya terpotong saat nomor terpasang.\n\n**Idempotency (opsional):** kirim header `Idempotency-Key` bernilai unik per permintaan (mis. UUID v4). Retry dengan key sama mengembalikan **order yang sama** tanpa memotong saldo lagi. Untuk `qty>1`, satu key mereplay **seluruh** order. Pakai key baru untuk order yang berbeda.\n\nSetiap response memuat header `X-RateLimit-Limit` / `X-RateLimit-Remaining` / `X-RateLimit-Reset`.","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"x-codeSamples":[{"lang":"cURL","label":"Single (1 nomor)","source":"curl -X POST https://app.ninjatop.cloud/api/public/v1/orders \\\n  -H \"Authorization: Bearer nk_xxxxxxxx\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Idempotency-Key: 3f9a1c7e-2b4d-4a6f-9c11-8e5d0b2a7f10\" \\\n  -d '{\"service_id\": 12, \"qty\": 1}'"},{"lang":"cURL","label":"Bulk (qty banyak)","source":"curl -X POST https://app.ninjatop.cloud/api/public/v1/orders \\\n  -H \"Authorization: Bearer nk_xxxxxxxx\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"service_id\": 12, \"qty\": 3}'"},{"lang":"JavaScript","label":"Single (fetch)","source":"const res = await fetch(\"https://app.ninjatop.cloud/api/public/v1/orders\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer nk_xxxxxxxx\",\n    \"Content-Type\": \"application/json\",\n    \"Idempotency-Key\": crypto.randomUUID(),\n  },\n  body: JSON.stringify({ service_id: 12, qty: 1 }),\n});\nconst data = await res.json();\nconsole.log(data.orders[0].id, data.orders[0].phone_number);"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["service_id"],"properties":{"service_id":{"type":"integer","description":"ID layanan (dari /services).","example":12},"qty":{"type":"integer","minimum":1,"maximum":10,"default":1,"description":"Jumlah nomor 1-10."}}}}}},"responses":{"201":{"description":"Nomor berhasil disewa.","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","properties":{"ordered":{"type":"integer","description":"Jumlah nomor yang berhasil disewa.","example":1},"orders":{"type":"array","items":{"$ref":"#/components/schemas/Order"}}}},"example":{"ordered":1,"orders":[{"id":"50132948-ff67-4c8d-8fc4-cc05535a3526","service_id":12,"service_name":"WhatsApp","phone_number":"628123456789","otp_code":null,"status":"pending","price":1500,"created_at":1730000000,"expire_at":1730001200,"completed_at":null}]}}}},"402":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"},"422":{"$ref":"#/components/responses/Error"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/orders/group":{"post":{"tags":["Pesanan"],"summary":"Sewa Nomor (Multi-service)","description":"Sewa `qty` nomor di mana **satu nomor melayani BEBERAPA layanan sekaligus** (minimal 2, maksimal sesuai batas admin). Nomor yang sama menerima OTP untuk setiap layanan di set. Charge = **total** harga semua layanan dalam set, per nomor.\n\nBalikan `orders[]` berisi satu baris **per layanan**; baris yang berbagi `phone_number` yang sama = satu nomor. Untuk `qty>1`, tiap nomor punya `phone_number` berbeda.\n\n**Idempotency (opsional):** sama seperti Single (`Idempotency-Key`), namespace terpisah dari Single.","parameters":[{"$ref":"#/components/parameters/IdempotencyKey"}],"x-codeSamples":[{"lang":"cURL","label":"Multi-service (1 nomor, 2 layanan)","source":"curl -X POST https://app.ninjatop.cloud/api/public/v1/orders/group \\\n  -H \"Authorization: Bearer nk_xxxxxxxx\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Idempotency-Key: 7c1f0a92-6d3e-4b18-9f2a-0c5e1d8b4a63\" \\\n  -d '{\"service_ids\": [12, 5], \"qty\": 1}'"},{"lang":"JavaScript","label":"Multi-service (fetch)","source":"const res = await fetch(\"https://app.ninjatop.cloud/api/public/v1/orders/group\", {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": \"Bearer nk_xxxxxxxx\",\n    \"Content-Type\": \"application/json\",\n    \"Idempotency-Key\": crypto.randomUUID(),\n  },\n  body: JSON.stringify({ service_ids: [12, 5], qty: 1 }),\n});\nconst data = await res.json();\n// Baris dgn phone_number sama = satu nomor yg melayani kedua layanan.\nconsole.log(data.orders.map((o) => o.service_name + ':' + o.phone_number));"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["service_ids"],"properties":{"service_ids":{"type":"array","items":{"type":"integer"},"minItems":2,"description":"ID layanan (>=2, dari /services). Satu nomor melayani semua.","example":[12,5]},"qty":{"type":"integer","minimum":1,"maximum":10,"default":1,"description":"Jumlah nomor 1-10."},"provider":{"type":["string","null"],"description":"Operator (opsional); null = mana saja."},"price":{"type":["integer","null"],"description":"TOTAL harga tier set (opsional); null = termurah."}}}}}},"responses":{"201":{"description":"Nomor multi-service berhasil disewa.","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"type":"object","properties":{"ordered":{"type":"integer","description":"Jumlah NOMOR (grup) yang berhasil disewa.","example":1},"orders":{"type":"array","items":{"$ref":"#/components/schemas/GroupOrder"}}}},"example":{"ordered":1,"orders":[{"id":"a1b2c3d4-0000-4a6f-9c11-111111111111","group_id":"9e8d7c6b-0000-4a6f-9c11-abcdef012345","service_id":12,"service_name":"WhatsApp","phone_number":"628123456789","otp_code":null,"status":"pending","price":1500,"created_at":1730000000,"expire_at":1730001200,"completed_at":null},{"id":"b2c3d4e5-0000-4a6f-9c11-222222222222","group_id":"9e8d7c6b-0000-4a6f-9c11-abcdef012345","service_id":5,"service_name":"Telegram","phone_number":"628123456789","otp_code":null,"status":"pending","price":1200,"created_at":1730000000,"expire_at":1730001200,"completed_at":null}]}}}},"402":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"},"422":{"$ref":"#/components/responses/Error"},"429":{"$ref":"#/components/responses/RateLimited"}}}},"/orders/group/{id}/cancel":{"post":{"tags":["Pesanan"],"summary":"Batalkan Order Multi","description":"Batalkan satu order **multi-service** (grup) + refund per-layanan. `id` = `group_id` dari respons **Sewa Nomor (Multi-service)**. Grup asing / tak ada → 404.","parameters":[{"name":"id","in":"path","required":true,"description":"group_id (UUID).","schema":{"type":"string","format":"uuid"}}],"x-codeSamples":[{"lang":"cURL","label":"Batalkan grup","source":"curl -X POST https://app.ninjatop.cloud/api/public/v1/orders/group/9e8d7c6b-0000-4a6f-9c11-abcdef012345/cancel \\\n  -H \"Authorization: Bearer nk_xxxxxxxx\""}],"responses":{"200":{"description":"Order multi dibatalkan.","content":{"application/json":{"schema":{"type":"object","properties":{"group_id":{"type":"string"},"status":{"type":"string","example":"cancelled"}}}}}},"404":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"}}}},"/orders/active":{"get":{"tags":["Pesanan"],"summary":"Order Aktif","description":"Menampilkan daftar order aktif saat ini.","parameters":[{"$ref":"#/components/parameters/Page"},{"$ref":"#/components/parameters/Size"},{"$ref":"#/components/parameters/Q"}],"responses":{"200":{"description":"Daftar order aktif.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ActiveOrder"}},"meta":{"$ref":"#/components/schemas/ListMeta"}}}}}},"401":{"$ref":"#/components/responses/Error"}}}},"/orders/{id}":{"get":{"tags":["Pesanan"],"summary":"Check Status","description":"Check status order saat ini.","parameters":[{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"Detail order.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderDetail"}}}},"404":{"$ref":"#/components/responses/Error"}}}},"/orders/{id}/ack":{"post":{"tags":["Pesanan"],"summary":"Selesaikan Order","description":"Selesaikan order saat ini.","parameters":[{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"Order diselesaikan.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"completed"}}}}}},"404":{"$ref":"#/components/responses/Error"}}}},"/orders/{id}/cancel":{"post":{"tags":["Pesanan"],"summary":"Batalkan Order","description":"Membatalkan order berdasarkan id pesanan.","parameters":[{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"Order dibatalkan.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"cancelled"}}}}}},"404":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"}}}},"/orders/{id}/resend":{"post":{"tags":["Pesanan"],"summary":"Resend (Re-OTP)","description":"Meminta ulang untuk menerima otp baru dengan nomor yang sama saat ini.","parameters":[{"$ref":"#/components/parameters/Id"}],"responses":{"200":{"description":"Permintaan OTP ulang diterima.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"resent":{"type":"boolean","example":true}}}}}},"409":{"$ref":"#/components/responses/Error"}}}},"/orders/reactivate":{"post":{"tags":["Pesanan"],"summary":"Reaktivasi","description":"Aktifkan ulang nomor yang pernah Anda sewa (berdasarkan ID order sebelumnya) untuk mendapatkan OTP baru. HANYA untuk layanan yang mendukung reaktivasi (jika tidak, respons 422). Batas 1x per (nomor, layanan) dalam jendela H+1 sejak order selesai.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["order_id"],"properties":{"order_id":{"type":"string","format":"uuid","description":"ID order sebelumnya (dari respons endpoint order). Nomor & layanan diturunkan server-side dari order ini."}}}}}},"responses":{"201":{"description":"Nomor diaktifkan ulang.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Order"}}}},"402":{"$ref":"#/components/responses/Error"},"409":{"$ref":"#/components/responses/Error"},"422":{"$ref":"#/components/responses/Error"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API token: `Authorization: Bearer nk_...`"}},"parameters":{"Page":{"name":"page","in":"query","required":false,"description":"Nomor halaman.","schema":{"type":"integer","minimum":1,"default":1}},"Size":{"name":"size","in":"query","required":false,"description":"Jumlah per halaman.","schema":{"type":"integer","minimum":1,"maximum":200}},"Q":{"name":"q","in":"query","required":false,"description":"Kata kunci pencarian.","schema":{"type":"string"}},"Id":{"name":"id","in":"path","required":true,"description":"ID order (UUID).","schema":{"type":"string","format":"uuid"}},"IdempotencyKey":{"name":"Idempotency-Key","in":"header","required":false,"description":"Opsional. Token unik per permintaan (mis. UUID). Retry dengan key sama mengembalikan order yang sama tanpa charge kedua. Untuk qty>1, mereplay seluruh order.","schema":{"type":"string","maxLength":200,"example":"3f9a1c7e-2b4d-4a6f-9c11-8e5d0b2a7f10"}}},"headers":{"XRateLimitLimit":{"description":"Plafon request per menit untuk key ini.","schema":{"type":"integer","example":60}},"XRateLimitRemaining":{"description":"Sisa kuota di window berjalan.","schema":{"type":"integer","example":59}},"XRateLimitReset":{"description":"Epoch (detik) saat window rate-limit direset.","schema":{"type":"integer","example":1730000060}},"RetryAfter":{"description":"Detik sampai boleh mencoba lagi (hanya pada 429).","schema":{"type":"integer","example":42}}},"responses":{"Error":{"description":"Gagal, lihat `error.message`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Melewati batas laju (RATE_LIMITED). Tunggu sesuai header `Retry-After`.","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"FORBIDDEN"},"message":{"type":"string","example":"API key tidak memiliki izin 'order'."}}}}},"ListMeta":{"type":"object","properties":{"page":{"type":"integer","example":1},"size":{"type":"integer","example":20},"total":{"type":["integer","null"],"example":1},"sort":{"type":["string","null"],"example":"created_at:desc"},"hasMore":{"type":"boolean","example":false}}},"Service":{"type":"object","properties":{"id":{"type":"integer","example":12},"name":{"type":"string","example":"WhatsApp"},"price":{"type":"integer","description":"Harga sewa efektif (rupiah): penawaran termurah dari supplier.","example":1650},"available_count":{"type":"integer","description":"Stok nomor aktif saat ini.","example":84},"duration":{"type":"integer","description":"Menit (masa aktif nomor).","example":20}}},"Balance":{"type":"object","properties":{"balance":{"type":"integer","description":"Saldo utama (rupiah).","example":152000}}},"Order":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"service_id":{"type":"integer","example":12},"service_name":{"type":"string","example":"WhatsApp"},"phone_number":{"type":"string","example":"628123456789"},"otp_code":{"type":["string","null"],"description":"null selama belum masuk.","example":null},"status":{"type":"string","example":"pending"},"price":{"type":"integer","example":1500},"created_at":{"type":"integer","description":"Epoch detik.","example":1730000000},"expire_at":{"type":["integer","null"],"example":1730001200},"completed_at":{"type":["integer","null"],"example":null}}},"OrderDetail":{"allOf":[{"$ref":"#/components/schemas/Order"},{"type":"object","properties":{"full_text":{"type":["string","null"],"description":"Isi SMS utuh.","example":"Kode WhatsApp kamu: 123456"}}}]},"GroupOrder":{"allOf":[{"$ref":"#/components/schemas/Order"},{"type":"object","properties":{"group_id":{"type":["string","null"],"format":"uuid","description":"ID grup multi-service. Baris dgn group_id sama = satu nomor melayani beberapa layanan. Dipakai untuk membatalkan grup."}}}]},"ActiveOrder":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"created_at":{"type":"integer","example":1730000000},"phone_number":{"type":"string","example":"628123456789"},"service_name":{"type":"string","example":"WhatsApp"},"service_id":{"type":"integer","example":12},"otp_code":{"type":["string","null"],"example":null},"price":{"type":"integer","example":1500},"status":{"type":"string","example":"pending"},"expire_at":{"type":["integer","null"],"example":1730001200},"completed_at":{"type":["integer","null"],"example":null}}}}}}